.header {

	&__accepted {
		border: 1px solid #E5E5E5;
		margin-bottom: 5px;
	}


	&__accepted-content {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__accepted-img {
		padding: 25px 0;
	}

	&__accepted-logo {
		max-width: 100%;
	}

	&__accepted-block {
		display: flex;
		align-items: center;

		img {
			transform: translateY(-8px);
		}
	}

	&__accepted-point {
		text-align: center;

		p {
			color: #AEADAE
		}
	}

	&__accepted-position {
		margin: 0 auto;
		border: 1px solid #D7D7D7;
		border-radius: 50%;
		width: 32px;
		height: 32px;

		p {
			color: #D7D7D7;
			transform: translateY(25%);
		}
	}

	&__accepted-block .header__accepted-position-img {
		transform: translateY(8px);
	}

}

.black {
	border: 1px solid #020202;
}

.header__accepted-point .black-text {
	color: #000;
}